affine==2.4.0 ; python_version >= "3.12" and python_version < "3.14"
aiobotocore==2.26.0 ; python_version >= "3.12" and python_version < "3.14"
aiohappyeyeballs==2.6.1 ; python_version >= "3.12" and python_version < "3.14"
aiohttp==3.13.3 ; python_version >= "3.12" and python_version < "3.14"
aioitertools==0.13.0 ; python_version >= "3.12" and python_version < "3.14"
aiosignal==1.4.0 ; python_version >= "3.12" and python_version < "3.14"
annotated-types==0.7.0 ; python_version >= "3.12" and python_version < "3.14"
anyio==4.12.1 ; python_version >= "3.12" and python_version < "3.14"
apache-sedona==1.8.1 ; python_version >= "3.12" and python_version < "3.14"
arch==7.2.0 ; python_version >= "3.12" and python_version < "3.14"
asciitree==0.3.3 ; python_version >= "3.12" and python_version < "3.14"
attrs==26.1.0 ; python_version >= "3.12" and python_version < "3.14"
baseflow==0.1.0 ; python_version >= "3.12" and python_version < "3.14"
bokeh==3.9.0 ; python_version >= "3.12" and python_version < "3.14"
botocore==1.41.5 ; python_version >= "3.12" and python_version < "3.14"
cachetools==6.2.6 ; python_version >= "3.12" and python_version < "3.14"
certifi==2026.2.25 ; python_version >= "3.12" and python_version < "3.14"
cffi==2.0.0 ; python_version >= "3.12" and python_version < "3.14" and platform_python_implementation != "PyPy"
cftime==1.6.5 ; python_version >= "3.12" and python_version < "3.14"
charset-normalizer==3.4.6 ; python_version >= "3.12" and python_version < "3.14"
click==8.3.1 ; python_version >= "3.12" and python_version < "3.14"
cligj==0.7.2 ; python_version >= "3.12" and python_version < "3.14"
cloudpickle==3.1.2 ; python_version >= "3.12" and python_version < "3.14"
colorama==0.4.6 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Windows"
contourpy==1.3.3 ; python_version >= "3.12" and python_version < "3.14"
cryptography==46.0.5 ; python_version >= "3.12" and python_version < "3.14"
dask==2025.12.0 ; python_version >= "3.12" and python_version < "3.14"
dataretrieval==1.1.2 ; python_version >= "3.12" and python_version < "3.14"
decorator==5.2.1 ; python_version >= "3.12" and python_version < "3.14"
deprecated==1.3.1 ; python_version >= "3.12" and python_version < "3.14"
fastavro==1.12.1 ; python_version >= "3.12" and python_version < "3.14"
fasteners==0.20 ; python_version >= "3.12" and python_version < "3.14" and sys_platform != "emscripten"
frozenlist==1.8.0 ; python_version >= "3.12" and python_version < "3.14"
fsspec==2025.12.0 ; python_version >= "3.12" and python_version < "3.14"
gcsfs==2025.12.0 ; python_version >= "3.12" and python_version < "3.14"
geopandas==1.1.3 ; python_version >= "3.12" and python_version < "3.14"
google-api-core==2.30.0 ; python_version >= "3.12" and python_version < "3.14"
google-auth-oauthlib==1.3.0 ; python_version >= "3.12" and python_version < "3.14"
google-auth==2.49.1 ; python_version >= "3.12" and python_version < "3.14"
google-cloud-core==2.5.0 ; python_version >= "3.12" and python_version < "3.14"
google-cloud-storage-control==1.10.0 ; python_version >= "3.12" and python_version < "3.14"
google-cloud-storage==3.10.0 ; python_version >= "3.12" and python_version < "3.14"
google-crc32c==1.8.0 ; python_version >= "3.12" and python_version < "3.14"
google-resumable-media==2.8.0 ; python_version >= "3.12" and python_version < "3.14"
googleapis-common-protos==1.73.0 ; python_version >= "3.12" and python_version < "3.14"
grpc-google-iam-v1==0.14.3 ; python_version >= "3.12" and python_version < "3.14"
grpcio-status==1.71.2 ; python_version >= "3.12" and python_version < "3.14"
grpcio==1.78.0 ; python_version >= "3.12" and python_version < "3.14"
h11==0.16.0 ; python_version >= "3.12" and python_version < "3.14"
h5netcdf==1.8.1 ; python_version >= "3.12" and python_version < "3.14"
h5py==3.16.0 ; python_version >= "3.12" and python_version < "3.14"
httpcore==1.0.9 ; python_version >= "3.12" and python_version < "3.14"
httpx==0.28.1 ; python_version >= "3.12" and python_version < "3.14"
idna==3.11 ; python_version >= "3.12" and python_version < "3.14"
jinja2==3.1.6 ; python_version >= "3.12" and python_version < "3.14"
jmespath==1.1.0 ; python_version >= "3.12" and python_version < "3.14"
kerchunk==0.2.7 ; python_version >= "3.12" and python_version < "3.14"
llvmlite==0.46.0 ; python_version >= "3.12" and python_version < "3.14"
locket==1.0.0 ; python_version >= "3.12" and python_version < "3.14"
lxml==5.4.0 ; python_version >= "3.12" and python_version < "3.14"
markdown-it-py==4.0.0 ; python_version >= "3.12" and python_version < "3.14"
markupsafe==3.0.3 ; python_version >= "3.12" and python_version < "3.14"
mdurl==0.1.2 ; python_version >= "3.12" and python_version < "3.14"
mmh3==5.2.1 ; python_version >= "3.12" and python_version < "3.14"
multidict==6.7.1 ; python_version >= "3.12" and python_version < "3.14"
mypy-extensions==1.1.0 ; python_version >= "3.12" and python_version < "3.14"
narwhals==2.18.0 ; python_version >= "3.12" and python_version < "3.14"
netcdf4==1.7.2 ; python_version >= "3.12" and python_version < "3.14"
numba==0.64.0 ; python_version >= "3.12" and python_version < "3.14"
numcodecs==0.15.1 ; python_version >= "3.12" and python_version < "3.14"
numpy==2.4.3 ; python_version >= "3.12" and python_version < "3.14"
oauthlib==3.3.1 ; python_version >= "3.12" and python_version < "3.14"
packaging==26.0 ; python_version >= "3.12" and python_version < "3.14"
pandas==2.3.3 ; python_version >= "3.12" and python_version < "3.14"
pandera==0.30.1 ; python_version >= "3.12" and python_version < "3.14"
partd==1.4.2 ; python_version >= "3.12" and python_version < "3.14"
patsy==1.0.2 ; python_version >= "3.12" and python_version < "3.14"
pillow==12.1.1 ; python_version >= "3.12" and python_version < "3.14"
propcache==0.4.1 ; python_version >= "3.12" and python_version < "3.14"
proto-plus==1.27.1 ; python_version >= "3.12" and python_version < "3.14"
protobuf==5.28.3 ; python_version >= "3.12" and python_version < "3.14"
psutil==7.2.2 ; python_version >= "3.12" and python_version < "3.14"
py4j==0.10.9.9 ; python_version >= "3.12" and python_version < "3.14"
pyarrow==20.0.0 ; python_version >= "3.12" and python_version < "3.14"
pyasn1-modules==0.4.2 ; python_version >= "3.12" and python_version < "3.14"
pyasn1==0.6.3 ; python_version >= "3.12" and python_version < "3.14"
pycparser==3.0 ; python_version >= "3.12" and python_version < "3.14" and platform_python_implementation != "PyPy" and implementation_name != "PyPy"
pydantic-core==2.41.5 ; python_version >= "3.12" and python_version < "3.14"
pydantic==2.12.5 ; python_version >= "3.12" and python_version < "3.14"
pygments==2.19.2 ; python_version >= "3.12" and python_version < "3.14"
pyiceberg==0.10.0 ; python_version >= "3.12" and python_version < "3.14"
pyogrio==0.12.1 ; python_version >= "3.12" and python_version < "3.14"
pyparsing==3.3.2 ; python_version >= "3.12" and python_version < "3.14"
pyproj==3.7.2 ; python_version >= "3.12" and python_version < "3.14"
pyroaring==1.0.4 ; python_version >= "3.12" and python_version < "3.14"
pyspark==4.0.1 ; python_version >= "3.12" and python_version < "3.14"
python-dateutil==2.9.0.post0 ; python_version >= "3.12" and python_version < "3.14"
pytz==2026.1.post1 ; python_version >= "3.12" and python_version < "3.14"
pyyaml==6.0.3 ; python_version >= "3.12" and python_version < "3.14"
rasterio==1.5.0 ; python_version >= "3.12" and python_version < "3.14"
requests-oauthlib==2.0.0 ; python_version >= "3.12" and python_version < "3.14"
requests==2.32.5 ; python_version >= "3.12" and python_version < "3.14"
rich==14.3.3 ; python_version >= "3.12" and python_version < "3.14"
rioxarray==0.22.0 ; python_version >= "3.12" and python_version < "3.14"
s3fs==2025.12.0 ; python_version >= "3.12" and python_version < "3.14"
scipy==1.17.1 ; python_version >= "3.12" and python_version < "3.14"
scoringrules==0.9.0 ; python_version >= "3.12" and python_version < "3.14"
shapely==2.1.2 ; python_version >= "3.12" and python_version < "3.14"
six==1.17.0 ; python_version >= "3.12" and python_version < "3.14"
sortedcontainers==2.4.0 ; python_version >= "3.12" and python_version < "3.14"
statsmodels==0.14.6 ; python_version >= "3.12" and python_version < "3.14"
strictyaml==1.7.3 ; python_version >= "3.12" and python_version < "3.14"
teehr==0.6.2 ; python_version >= "3.12" and python_version < "3.14"
tenacity==9.1.4 ; python_version >= "3.12" and python_version < "3.14"
toolz==1.1.0 ; python_version >= "3.12" and python_version < "3.14"
tornado==6.5.5 ; python_version >= "3.12" and python_version < "3.14" and sys_platform != "emscripten"
tqdm==4.67.3 ; python_version >= "3.12" and python_version < "3.14"
typeguard==4.5.1 ; python_version >= "3.12" and python_version < "3.14"
typing-extensions==4.15.0 ; python_version >= "3.12" and python_version < "3.14"
typing-inspect==0.9.0 ; python_version >= "3.12" and python_version < "3.14"
typing-inspection==0.4.2 ; python_version >= "3.12" and python_version < "3.14"
tzdata==2025.3 ; python_version >= "3.12" and python_version < "3.14"
ujson==5.12.0 ; python_version >= "3.12" and python_version < "3.14"
urllib3==2.6.3 ; python_version >= "3.12" and python_version < "3.14"
wrapt==1.17.3 ; python_version >= "3.12" and python_version < "3.14"
xarray==2026.2.0 ; python_version >= "3.12" and python_version < "3.14"
xyzservices==2025.11.0 ; python_version >= "3.12" and python_version < "3.14"
yarl==1.23.0 ; python_version >= "3.12" and python_version < "3.14"
zarr==2.18.7 ; python_version >= "3.12" and python_version < "3.14"
